# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=retail_warehouse

# Airflow
AIRFLOW_UID=50000
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://admin:your_password_here@postgres/airflow_metadata
